@model FizzleBizzleExercise.Controllers.HomeController
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FizzleBizzle</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="bootstrap.css" rel="stylesheet">
        <link href="bootstrap-switch.css" rel="stylesheet">
        <script src="jquery.js"></script>
        <script src="bootstrap-switch.js"></script>
    </environment>
    @*Script to call the sweet alerts*@
    <script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>
    <link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">
    <link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*Rendering the one page app in layout for simplicity, If prefered I could create an outer container div and then render a partial view inside the body*@
    @*Make class names as desriptiive as possible for future developers*@
    <div class="container body-content">
        @RenderBody()
        <div class="foreground">
            <div class="app-header">Fizzle Bizzle Test</div>
            <hr>
            <div class="app-sub-header">For Engagency<br /></div>
            <p class="col-lg-push-9">
                <strong>FizzBuzz</strong> generates an array of strings representing the consecutive sequence of integers from start to end.
                When the integer is a multiple of Fizz, the string "Fizz" is added instead. Likewise, for multiples of Buzz, "Buzz"
                is added. For multiples of both Fizz and Buzz, "FizzBuzz" is added.
            </p>
            <div class="example-box">
                <text class="example-header">For example:</text>
                <br />
                <text class="example-body">
                    With Fizz = 3, Buzz = 5, start = 1, and end =15; the array looks like: <br />
                    ["1","2","Fizz","4","Buzz","Fizz","7","8", ... ,"14","FizzBuzz"]
                </text>
            </div>
            @*Post request for the form*@
            <form asp-action="FizzBuzzHandler" method="post" class="input-form">
                <div class="row form-input">
                    <input type="text" name="start" class="form-control input-lg col-sm-4 start-input" placeholder="Start">
                    <input type="text" name="end" class="form-control input-lg col-sm-4 end-input" placeholder="End">
                </div>
                <div class="row form-input">
                    <input type="text" name="fizz" class="form-control input-lg col-sm-4" placeholder="Fizz">
                    <input type="text" name="buzz" class="form-control input-lg col-sm-4" placeholder="Buzz">
                </div>
                @*Switch for the "bazz" section of the form*@
                <div class="row switch">
                    <div class="bazzswitch">
                        <input type="checkbox" name="bazzswitch" class="bazzswitch-checkbox" id="bazzswitch" checked>
                        <label class="bazzswitch-label" for="bazzswitch">
                            <span class="bazzswitch-inner"></span>
                            <span class="bazzswitch-switch"></span>
                        </label>
                    </div>
                    <div class="bazz-div">
                        <text class="bazz-info">Enable Bazz?</text>
                        <p class="tooltip-help">
                            Enables the bazz functionality that is displayed based on the chosen predicate.
                        </p>
                    </div>
                </div>
                <div class="row form-input bazz">
                    <input type="text" name="bazzval" class="form-control input-lg col-sm-4" placeholder="Bazz">
                    <select name="predchoice" class="form-control col-sm-4 pred-sel">
                        <option value="" disabled selected>Predicate</option>
                        <option value="gt">Greater Than</option>
                        <option value="lt">Less Than</option>
                        <option value="gte">Greater Than or Equal To</option>
                        <option value="lte">Less Than or Equal To</option>
                    </select>
                </div>
                <button class="btn btn-default btn-group-lg col-sm-11 " type="submit">Generate</button>
            </form>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        swal({
                            title: '',
                            text: '@ViewBag.message',
                            imageUrl: "/images/engagency.png",
                            confirmButtonColor: "#CC3611"
                        });
                    }
                </script>
            }
            @if (ViewBag.Error != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        swal({
                            title: '',
                            text: '@ViewBag.error',
                            confirmButtonColor: "#CC3611",
                            type: "warning"
                        });
                    }
                </script>
            }
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        $(function () {
            $('.bazzswitch-checkbox').change(function () {
                $('.bazz').toggle(this.checked);
            }).change(); //ensure visible state matches initially
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
